* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #c14fac, #1e6096, #341cad, #17466c);
    background-repeat: no-repeat;
}